/* Estilos para a página de prova - cabeçalho */
header {
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 36px;
}

.prova-info {
  margin-bottom: 20px;
}

.prova-info p {
  margin: 5px;
}

.instrucoes {
  text-align: left;
}

.instrucoes h2 {
  font-size: 24px;
}

.instrucoes ul {
  padding-left: 20px;
}

.instrucoes ul li {
  margin-bottom: 5px;
}

.questao {
  margin-bottom: 20px;
}

.questao h3 {
  font-size: 24px;
}

.questao p {
  margin: 10px 0;
}

.questao ul {
  padding-left: 20px;
}

.questao ul li {
  margin-bottom: 5px;
}

.questao input[type="radio"] {
  margin-right: 5px;
}
